// var colors
$color-white:       #fff;
$color-bg:          #00082f;
$color-primary:     #4263eb;
$color-text:        #232323;
$color-shadow:        0 10px 15px -3px rgba(0, 0, 0, 0.1),
                      0 4px 6px -2px rgba(0, 0, 0, 0.05);

// var media query

$media-mobile-s:    320px;
$media-mobile-m:    375px;
$media-mobile-l:    425px;
$media-tabelt:      768px;
$media-desktop:     1024px;

// Mix de fonts

@mixin font-title {
    font-family: 'Ruda', sans-serif;
    font-weight: 700;
}

@mixin font-subtitle {
    font-family: 'Ruda', sans-serif;
    font-weight: 500;
}

@mixin font-paragraf {
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
}